@mixin font-face($font-family, $name, $weight) {
  @font-face {
    font-family: "#{$font-family}";
    src: local("#{$font-family}") url("./assets/fonts/#{$name}.woff2") format("woff2"),
      url("./assets/fonts/#{$name}.woff") format("woff");
    font-weight: #{$weight};
    font-display: swap;
  }
}

@mixin image {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

@mixin list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin text-highlight {
  color: $white;
  text-shadow: 0 0 7px $purple, 0 0 10px $purple, 0 0 21px $purple, 0 0 42px $purple-medium;
}
