.section-intro {
  align-items: center;
  column-gap: 120px;
  display: grid;
  grid-template-columns: 1fr 652px;

  &__title {
    display: flex;
  }

  &__icon {
    left: -17px;
    position: relative;
    top: 61px;

    .section-intro--services & {
      left: 18px;
    }
  }

  &__description {
    line-height: 1.6;
  }
}
