.header-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &__logo {
    align-items: center;
    display: flex;
    gap: 15px;
  }

  &__list {
    @include list-unstyled;
    display: flex;
    gap: 41px;
    margin-left: 205px;
  }

  &__link {
    text-transform: uppercase;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    outline: none;

    &:hover,
    &:focus {
      @include text-highlight;
    }
  }

  &__action {
    @include list-unstyled;
    display: flex;
    margin-left: auto;
    gap: 38px;
  }
}
