.site {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;

  &__about {
    margin-top: 72px;
  }

  &__services {
    margin-top: 85px;
  }

  &__tech {
    margin-top: 114px;
  }

  &__process {
    margin-top: 50px;
  }
}
