.site {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100%;

  // @TODO: вынести: в site только стили layout, для секций сделать файл _page.scss
  &__about {
    margin-top: 72px;
  }

  &__services {
    margin-top: 85px;
  }

  &__tech {
    margin-top: 114px;
  }

  &__process {
    margin-top: 50px;
  }

  &__join {
    margin-top: 109px;
  }

  &__footer {
    margin-top: 127px;
  }
}
